# Ignore configuration files that may contain sensitive information.
sites/*/local.settings.php
sites/*/settings.local.php
sites/*/settings.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

*.sassc
*.scssc

*.sublime-project
*.sublime-workspace
