@import "variables-mixins.sass"


body 
  color: $base-font-color
  font-family: $font-family-main
  font-size: $base-font-size
  letter-spacing: 0.002em
  line-height: $base-line-height

/* Headlines */

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h4 a, h6 a
  font-family: $font-family-headlines
  color: $headline-color
  letter-spacing: 0.01em

h1.site-name
  font-family: $font-family-handwritten


/*** Standard HTML Elements ***/

a 
  color: $link-color
  text-decoration: none
  &:hover 
    color: darken($link-color, 15%)

/** Drupal-specific Elements **/
code 
  margin-bottom: 10px


