@import "variables-mixins.sass"

/** Base layout of the page **/
.l-container 
  +container 


/*-------------------------------------------*/
/*-------------------------------------------*/
/*-------------- DESKTOP LAYOUT -------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/


body
  +at-breakpoint($breakpoint-desktop-with-ie-fallback)

    header
      margin-top: 20px
      .name-and-slogan 
        float: left
        margin-right: 50px
      .region-header 
        float: left
      #block-socialmediablockheader
        float: left
        margin-top: 10px
        img 
          margin: 0 5px
      #block-mainnavigation 
        float: left
        ul 
          li 
            font-family: $font-family-headlines
            font-size: 1.2em
            line-height: 1.3
            a 
              color: #888