@import "compass/css3"
@import "susy"


// Colors
$base-font-color: #000
$headline-color: #000
$link-color: #6BCBCA

// Font Families
$font-family-main: verdana,arial,helvetica,sans-serif
$font-family-headlines: renamedbook,times,serif
