@import "compass/css3"
@import "susy"

// Define Padding vor Desktop and mobile
$desktop-grid-padding: 40px
$smartphone-grid-padding: 20px

// define Grid
$total-columns  : 12
$column-width   : 68px
$gutter-width   : 10px
$grid-padding   : $desktop-grid-padding


// Colors
$base-font-color: #000
$headline-color: #000
$link-color: #6BCBCA

// Font Families
$font-family-main: colaboratelightregular,arial,helvetica,sans-serif
$font-family-headlines: renamedbook,times,serif
