@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\000033}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\000038}}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000313}}
body {
  color: #444444;
  font-family: source_sans_proregular, arial, helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 0.002em;
  line-height: 1.6;
}

/* Headlines */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000322}}
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h4 a, h6 a {
  font-family: oswaldbook, arial, helvetica, sans-serif;
  font-weight: normal;
  color: #555555;
  letter-spacing: 0.01em;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000331}}
.name-and-slogan {
  margin-top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000333}}
.name-and-slogan .site-name, .name-and-slogan .site-name a {
  font-family: maiden_orangeregular, times, serif;
  font-weight: normal;
  font-size: 54px;
  font-size: 3rem;
  color: #ca0d0d;
  line-height: 1;
  margin-bottom: 0;
}

/** Standard HTML Elements ** */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000344}}
a {
  color: #dda231;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000347}}
a:hover {
  color: #dda231;
}

/*Drupal-specific Elements */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000351}}
code {
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000354}}
.submitted {
  color: #999999;
  font-family: oswaldlight, arial, helvetica, sans-serif;
  font-size: 14.94px;
  font-size: 0.83rem;
  margin: 5px 0 9px;
}

/*Drupal-specific micro elements */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000362}}
a.feed-icon {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000366}}
ul.links.inline li {
  padding: 0 10px 0 0;
  font-size: 14.94px;
  font-size: 0.83rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000370}}
p {
  margin: 5px 0 12px;
}

/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- Phablet LAYOUT ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media (min-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000383}}
  body .name-and-slogan .site-name, body .name-and-slogan .site-name a {
    font-size: 81px;
    font-size: 4.5rem;
  }
}

/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- DESKTOP LAYOUT ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000394}}
  body {
    /* Headlines */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\0000399}}
  body h2 {
    font-size: 34.2px;
    font-size: 1.9rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003103}}
  body article h2 {
    margin-bottom: 2px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/base\.sass}line{font-family:\00003107}}
  body .name-and-slogan .site-name, body .name-and-slogan .site-name a {
    font-size: 108px;
    font-size: 6rem;
    margin-left: -5px;
  }
}
