/*Base layout of the page */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000310}}
body {
  background: #fffdf9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000313}}
#block-tommiblog-search, #block-suchformular {
  margin-top: 30px;
  margin-bottom: 15px;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000322}}
#block-tommiblog-search:after, #block-suchformular:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000317}}
#block-tommiblog-search form, #block-suchformular form {
  width: 90%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000319}}
#block-tommiblog-search input.form-search, #block-suchformular input.form-search {
  -webkit-border-radius: 13px 0 0 13px;
  -moz-border-radius: 13px 0 0 13px;
  -ms-border-radius: 13px 0 0 13px;
  -o-border-radius: 13px 0 0 13px;
  border-radius: 13px 0 0 13px;
  border: 1px solid #999999;
  margin-right: 0;
  float: left;
  height: 22px;
  width: 70%;
  padding: 2px 8px 2px 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000328}}
#block-tommiblog-search input.form-submit, #block-suchformular input.form-submit {
  position: relative;
  text-indent: -9999px;
  -webkit-border-radius: 0 13px 13px 0;
  -moz-border-radius: 0 13px 13px 0;
  -ms-border-radius: 0 13px 13px 0;
  -o-border-radius: 0 13px 13px 0;
  border-radius: 0 13px 13px 0;
  border: 1px solid #777777;
  width: 15%;
  float: left;
  padding: 2px 5px;
  height: 28px;
  border-left: 0;
  background: #eeeeee url(../images/lupe-suche.png) no-repeat 8px center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000339}}
#block-tommiblog-search input.form-submit:hover, #block-suchformular input.form-submit:hover {
  background: #dddddd url(../images/lupe-suche.png) no-repeat 8px center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000342}}
.l-container {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000345}}
.name-and-slogan {
  float: right;
  width: 80%;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000349}}
.region-header {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000351}}
.mobile-navigation {
  padding-left: 6%;
  padding-top: 5px;
  float: left;
  width: 250px;
  background: #fcf4dd;
  background: #444444;
  height: 100%;
  display: block;
  display: none;
  -webkit-box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.5);
  -moz-box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.5);
  box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.5);
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000363}}
.mobile-navigation #block-socialmediablockheader-2 p {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000365}}
.mobile-navigation #block-socialmediablockheader-2 img {
  width: 48px;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000368}}
.mobile-navigation #block-socialmediablockheader-2 span.rufzeichen {
  margin-right: 13px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000370}}
.mobile-navigation ul.menu {
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000373}}
.mobile-navigation ul.menu li a {
  display: block;
  border-bottom: 1px solid #cccccc;
  padding: 3px 0;
  color: #bbbbbb;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000378}}
.mobile-navigation ul.menu li a:hover {
  color: #ca0d0d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000380}}
.mobile-navigation #block-tommiblog-search, .mobile-navigation #block-suchformular {
  margin-top: 35px;
  margin-bottom: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000383}}
.mobile-navigation #block-tommiblog-search input.form-search, .mobile-navigation #block-suchformular input.form-search {
  background: #bbbbbb;
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000386}}
.mobile-navigation #block-tommiblog-search input.form-submit, .mobile-navigation #block-suchformular input.form-submit {
  background: #eaeaea url(../images/lupe-suche.png) no-repeat 5px center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000388}}
.mobile-navigation #block-tommiblog-search input.form-submit:hover, .mobile-navigation #block-suchformular input.form-submit:hover {
  background: white url(../images/lupe-suche.png) no-repeat 5px center;
}

/* float all major containers left when the mobile menu is open */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000393}}
.mobile-menu-open header, .mobile-menu-open main, .mobile-menu-open footer[role=contentinfo] {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000395}}
.mobile-menu-open .mobile-navigation {
  display: block;
  position: absolute;
  z-index: 15;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000399}}
.mobile-menu-open .mobile-navigation #block-mobilemenuswitcher-2 {
  width: 40px;
  height: 35px;
  padding: 5px;
  background: #bbbbbb url(../images/menu-icon-mobilemenu.png) no-repeat center center;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-top: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003108}}
header, main, footer[role=contentinfo] {
  max-width: 1006px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003111}}
.header-background {
  background: #fbf0cf;
  border-bottom: 1px solid #ede2c4;
  padding: 5px 0 8px;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000322}}
.header-background:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003118}}
header #block-tommiblog-search, header #block-socialmediablockheader, header #block-mainnavigation {
  display: none;
  clear: left;
  border: 1px solid transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003122}}
header #block-mobilemenuswitcher {
  width: 40px;
  height: 35px;
  padding: 5px;
  background: #f7e19e url(../images/menu-icon.png) no-repeat center center;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  float: right;
  margin-top: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003132}}
header #block-mainnavigation ul.menu {
  margin-left: 0;
  margin-bottom: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003136}}
header #block-mainnavigation ul.menu li a {
  padding: 5px 8px;
  border: 1px solid #cccccc;
  background: #f7e19e;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003143}}
main {
  padding-top: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003146}}
.footer-wrapper {
  background: #ede9e3;
  border-top: 1px solid #d8d8d8;
  padding-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003150}}
.footer-wrapper a {
  color: #777777;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003152}}
.footer-wrapper footer {
  font-size: 14.94px;
  font-size: 0.83rem;
  padding-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003155}}
.footer-wrapper footer ul.menu {
  margin-left: 0;
}

/* Login-Formular */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003161}}
.page-user form#user-login-form input {
  width: 100%;
}

/* Kommentare */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003166}}
#comments .comment {
  background: #eeeeee;
  padding: 25px;
  margin: 25px 0;
  border: 1px solid #dddddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003171}}
#comment-form {
  background: #e7e7e7;
  padding: 25px;
  margin: 25px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003175}}
#comment-form #edit-name {
  display: none;
}

/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- Phablet LAYOUT ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media (min-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003191}}
  body .l-container {
    position: relative;
    padding-bottom: 90px;
    min-height: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003195}}
  body .name-and-slogan {
    text-align: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003199}}
  body header #block-mobilemenuswitcher {
    margin-top: 33px;
    margin-left: 15px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003203}}
  body .mobile-navigation {
    padding-top: 20px;
  }
}

/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- DESKTOP LAYOUT ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003215}}
  body {
    /* Footer */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003217}}
  body header, body main, body footer[role=contentinfo] {
    margin: 0 auto;
    max-width: auto;
    width: 1006px;
    padding-left: 40px;
    padding-right: 40px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003219}}
  body header {
    *zoom: 1;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000322}}
  body header:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003222}}
  body header .name-and-slogan {
    width: auto;
    float: left;
    margin-right: 35px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003226}}
  body header .region-header {
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003228}}
  body header .block {
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003230}}
  body header #block-tommiblog-search, body header #block-socialmediablockheader, body header #block-mainnavigation {
    display: block;
    clear: none;
    border: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003234}}
  body header #block-socialmediablockheader {
    margin-top: 25px;
    margin-right: 10px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003237}}
  body header #block-socialmediablockheader img {
    margin: 0 5px;
    width: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003240}}
  body header #block-socialmediablockheader p {
    margin: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003242}}
  body header #block-socialmediablockheader span.rufzeichen {
    margin: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003244}}
  body header #block-mobilemenuswitcher {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003250}}
  body header #block-mainnavigation ul.menu li {
    font-family: oswaldbook, arial, helvetica, sans-serif;
    font-size: 21.6px;
    font-size: 1.2rem;
    line-height: 1.3;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003254}}
  body header #block-mainnavigation ul.menu li a {
    color: #888888;
    background: none;
    border: none;
    padding: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003259}}
  body header #block-tommiblog-search {
    margin-top: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003261}}
  body header #block-tommiblog-search form {
    margin-top: 45px;
    margin-left: 30px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003264}}
  body header #block-tommiblog-search form input.form-search {
    width: 110px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003266}}
  body header #block-tommiblog-search input.form-search {
    width: 80%;
    padding: 2px 8px 2px 15px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003269}}
  body header #block-tommiblog-search input.form-submit {
    width: 38px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003273}}
  body .footer-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 90px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003278}}
  body .footer-wrapper #block-footermessage {
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003280}}
  body .footer-wrapper #block-tommiblog-footer {
    float: right;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003283}}
  body .footer-wrapper footer ul.menu, body .footer-wrapper footer p {
    margin-top: 15px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003286}}
  body .footer-wrapper footer ul.menu li {
    padding-top: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003291}}
  body.page-user form#user-login-form label {
    float: left;
    width: 130px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003294}}
  body.page-user form#user-login-form input {
    width: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003296}}
  body.page-user form#user-login-form input#edit-submit {
    margin-left: 130px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003298}}
  body.page-user form#user-login-form .description {
    margin-left: 130px;
    color: #777777;
    margin-top: 2px;
    font-size: 13.5px;
    font-size: 0.75rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003304}}
  body #comments .comment, body #comment-form {
    margin-left: -25px;
    margin-right: -25px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/breakpoint-2\.0\.7\/stylesheets\/_breakpoint\.scss}line{font-family:\00003118}}
.lt-ie9 body {
  /* Footer */
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003217}}
.lt-ie9 body header, .lt-ie9 body main, .lt-ie9 body footer[role=contentinfo] {
  margin: 0 auto;
  max-width: auto;
  width: 1006px;
  padding-left: 40px;
  padding-right: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003219}}
.lt-ie9 body header {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000322}}
.lt-ie9 body header:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003222}}
.lt-ie9 body header .name-and-slogan {
  width: auto;
  float: left;
  margin-right: 35px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003226}}
.lt-ie9 body header .region-header {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003228}}
.lt-ie9 body header .block {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003230}}
.lt-ie9 body header #block-tommiblog-search, .lt-ie9 body header #block-socialmediablockheader, .lt-ie9 body header #block-mainnavigation {
  display: block;
  clear: none;
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003234}}
.lt-ie9 body header #block-socialmediablockheader {
  margin-top: 25px;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003237}}
.lt-ie9 body header #block-socialmediablockheader img {
  margin: 0 5px;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003240}}
.lt-ie9 body header #block-socialmediablockheader p {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003242}}
.lt-ie9 body header #block-socialmediablockheader span.rufzeichen {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003244}}
.lt-ie9 body header #block-mobilemenuswitcher {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003250}}
.lt-ie9 body header #block-mainnavigation ul.menu li {
  font-family: oswaldbook, arial, helvetica, sans-serif;
  font-size: 21.6px;
  font-size: 1.2rem;
  line-height: 1.3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003254}}
.lt-ie9 body header #block-mainnavigation ul.menu li a {
  color: #888888;
  background: none;
  border: none;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003259}}
.lt-ie9 body header #block-tommiblog-search {
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003261}}
.lt-ie9 body header #block-tommiblog-search form {
  margin-top: 45px;
  margin-left: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003264}}
.lt-ie9 body header #block-tommiblog-search form input.form-search {
  width: 110px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003266}}
.lt-ie9 body header #block-tommiblog-search input.form-search {
  width: 80%;
  padding: 2px 8px 2px 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003269}}
.lt-ie9 body header #block-tommiblog-search input.form-submit {
  width: 38px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003273}}
.lt-ie9 body .footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 90px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003278}}
.lt-ie9 body .footer-wrapper #block-footermessage {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003280}}
.lt-ie9 body .footer-wrapper #block-tommiblog-footer {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003283}}
.lt-ie9 body .footer-wrapper footer ul.menu, .lt-ie9 body .footer-wrapper footer p {
  margin-top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003286}}
.lt-ie9 body .footer-wrapper footer ul.menu li {
  padding-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003291}}
.lt-ie9 body.page-user form#user-login-form label {
  float: left;
  width: 130px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003294}}
.lt-ie9 body.page-user form#user-login-form input {
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003296}}
.lt-ie9 body.page-user form#user-login-form input#edit-submit {
  margin-left: 130px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003298}}
.lt-ie9 body.page-user form#user-login-form .description {
  margin-left: 130px;
  color: #777777;
  margin-top: 2px;
  font-size: 13.5px;
  font-size: 0.75rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003304}}
.lt-ie9 body #comments .comment, .lt-ie9 body #comment-form {
  margin-left: -25px;
  margin-right: -25px;
}
