/*Base layout of the page */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000310}}
body {
  background: #fffdf9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000313}}
.l-container {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000317}}
header, main, footer[role=contentinfo] {
  max-width: 1006px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000320}}
.header-background {
  background: #fbf0cf;
  border-bottom: 1px solid #ede2c4;
  padding: 5px 0 8px;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.5\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000322}}
.header-background:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000327}}
header #block-tommiblog-search, header #block-socialmediablockheader, header #block-mainnavigation {
  display: none;
  clear: left;
  border: 1px solid transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000331}}
header #block-mobilemenuswitcher {
  width: 40px;
  height: 35px;
  padding: 5px;
  background: #f7e19e url(../images/menu-icon.png) no-repeat center center;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  float: right;
  margin-top: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000341}}
header #block-tommiblog-search input.form-search {
  -webkit-border-radius: 13px 0 0 13px;
  -moz-border-radius: 13px 0 0 13px;
  -ms-border-radius: 13px 0 0 13px;
  -o-border-radius: 13px 0 0 13px;
  border-radius: 13px 0 0 13px;
  border: 1px solid #999999;
  margin-right: 0;
  float: left;
  height: 22px;
  width: 110px;
  padding: 2px 8px 2px 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000350}}
header #block-tommiblog-search input.form-submit {
  position: relative;
  text-indent: -9999px;
  -webkit-border-radius: 0 13px 13px 0;
  -moz-border-radius: 0 13px 13px 0;
  -ms-border-radius: 0 13px 13px 0;
  -o-border-radius: 0 13px 13px 0;
  border-radius: 0 13px 13px 0;
  border: 1px solid #777777;
  width: 38px;
  float: left;
  padding: 2px 5px;
  height: 28px;
  border-left: 0;
  background: #eeeeee url(../images/lupe-suche.png) no-repeat 8px center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000361}}
header #block-tommiblog-search input.form-submit:hover {
  background: #dddddd url(../images/lupe-suche.png) no-repeat 8px center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000364}}
main {
  padding-top: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000367}}
.footer-wrapper {
  background: #ede9e3;
  border-top: 1px solid #d8d8d8;
  padding-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000371}}
.footer-wrapper a {
  color: #777777;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000373}}
.footer-wrapper footer {
  font-size: 14.94px;
  font-size: 0.83rem;
  padding-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000376}}
.footer-wrapper footer ul.menu {
  margin-left: 0;
}

/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- Phablet LAYOUT ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media (min-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000390}}
  body .l-container {
    position: relative;
    padding-bottom: 90px;
    min-height: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000396}}
  body header #block-mobilemenuswitcher {
    margin-top: 33px;
    margin-right: 15px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\0000399}}
  body .footer-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
  }
}

/*------------------------------------------- */
/*------------------------------------------- */
/*-------------- DESKTOP LAYOUT ------------- */
/*------------------------------------------- */
/*------------------------------------------- */
@media (min-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003114}}
  body {
    /* Footer */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003116}}
  body header, body main, body footer[role=contentinfo] {
    margin: 0 auto;
    max-width: auto;
    width: 1006px;
    padding-left: 40px;
    padding-right: 40px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003118}}
  body header {
    *zoom: 1;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.5\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000322}}
  body header:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003121}}
  body header .name-and-slogan {
    float: left;
    margin-right: 50px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003124}}
  body header .region-header {
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003126}}
  body header .block {
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003128}}
  body header #block-tommiblog-search, body header #block-socialmediablockheader, body header #block-mainnavigation {
    display: block;
    clear: none;
    border: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003132}}
  body header #block-mobilemenuswitcher {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003134}}
  body header #block-socialmediablockheader {
    margin-top: 10px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003136}}
  body header #block-socialmediablockheader img {
    margin: 0 5px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003140}}
  body header #block-mainnavigation ul li {
    font-family: oswaldbook, arial, helvetica, sans-serif;
    font-size: 21.6px;
    font-size: 1.2rem;
    line-height: 1.3;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003144}}
  body header #block-mainnavigation ul li a {
    color: #888888;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003147}}
  body header #block-tommiblog-search form {
    margin-top: 45px;
    margin-left: 30px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003152}}
  body .footer-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003157}}
  body .footer-wrapper #block-footermessage {
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003159}}
  body .footer-wrapper #block-tommiblog-footer {
    float: right;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003162}}
  body .footer-wrapper footer ul.menu, body .footer-wrapper footer p {
    margin-top: 15px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003165}}
  body .footer-wrapper footer ul.menu li {
    padding-top: 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/breakpoint-2\.0\.7\/stylesheets\/_breakpoint\.scss}line{font-family:\00003118}}
.lt-ie9 body {
  /* Footer */
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003116}}
.lt-ie9 body header, .lt-ie9 body main, .lt-ie9 body footer[role=contentinfo] {
  margin: 0 auto;
  max-width: auto;
  width: 1006px;
  padding-left: 40px;
  padding-right: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003118}}
.lt-ie9 body header {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.5\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000322}}
.lt-ie9 body header:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003121}}
.lt-ie9 body header .name-and-slogan {
  float: left;
  margin-right: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003124}}
.lt-ie9 body header .region-header {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003126}}
.lt-ie9 body header .block {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003128}}
.lt-ie9 body header #block-tommiblog-search, .lt-ie9 body header #block-socialmediablockheader, .lt-ie9 body header #block-mainnavigation {
  display: block;
  clear: none;
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003132}}
.lt-ie9 body header #block-mobilemenuswitcher {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003134}}
.lt-ie9 body header #block-socialmediablockheader {
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003136}}
.lt-ie9 body header #block-socialmediablockheader img {
  margin: 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003140}}
.lt-ie9 body header #block-mainnavigation ul li {
  font-family: oswaldbook, arial, helvetica, sans-serif;
  font-size: 21.6px;
  font-size: 1.2rem;
  line-height: 1.3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003144}}
.lt-ie9 body header #block-mainnavigation ul li a {
  color: #888888;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003147}}
.lt-ie9 body header #block-tommiblog-search form {
  margin-top: 45px;
  margin-left: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003152}}
.lt-ie9 body .footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003157}}
.lt-ie9 body .footer-wrapper #block-footermessage {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003159}}
.lt-ie9 body .footer-wrapper #block-tommiblog-footer {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003162}}
.lt-ie9 body .footer-wrapper footer ul.menu, .lt-ie9 body .footer-wrapper footer p {
  margin-top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/rufzeichen\/tommiblog-d8\/themes\/tommiblog\/sass\/layout\.sass}line{font-family:\00003165}}
.lt-ie9 body .footer-wrapper footer ul.menu li {
  padding-top: 0;
}
